* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
}

.mainContent{
  display: flex;
  justify-content: space-around;
}


/**********************************************/

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: rgb(80, 11, 47);
}

/*if this cell is chosen*/

.white {
  background-color: rgb(238, 156, 156);
}

.black.clicked {
  background-color: rgb(150, 21, 92);
}

.black.markMove {
  cursor: pointer;
  background-color: rgb(51, 150, 21);
}